.country {
  padding: 50px;
}

.btn-light {
  margin-bottom: 30px;
  display: inline-block;
}

.country article ul li {
  display: flex;
}

.country article h3 {
  font-weight: 600;
}

.country article .country-details div {
  margin: 30px 0;

  h2 {
    font-weight: 600;
    font-size: 30px;
  }

  h5 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;

    span {
      font-weight: 300;
    }
  }
}

.country article .borders {
  display: flex;
  flex-wrap: wrap;

  ul {
    margin: 10px;
    background-color: var(--article-color);
    padding: 5px 20px;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.5);
  }

  ul:first-of-type {
    margin: 10px 10px 10px 0;
  }
}

.country article .light-theme ul {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.country-outer {
  margin-left: 0px;
}

@media (min-width: 992px) {
  /* .country article .country-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  } */

  .country .country-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .country .country-details {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px;
  }
}

@media (min-width: 1120px) {
  .country article .country-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .country {
    max-width: 1100px;
    margin: auto;
  }
}

.country-outer {
  margin-left: 20px;
}

@media (min-width: 1366px) {
  .country {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .country {
    max-width: 1400px;
  }
}
