@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --text-color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  /* padding: 50px; */
  background-color: var(--dark-bg-color);
  color: var(--text-color);
}

body.light-theme {
  background-color: #f1f1f1;
  color: var(--light-mode-text);
}

body.light-theme .grid .light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--dark-bg-color);
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  transition: background-color 0.2s;
}

/* .btn:hover {
  background-color: #fff;
  color: var(--dark-bg-color);
} */

.btn-light {
  background-color: var(--article-color);
  border: 2px solid var(--article-color);
}

.btn.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  border: none;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* sizing */

.Countries {
  padding: 1.5rem 1rem 65px;
}

@media (min-width: 768px) {
  .Countries {
    padding: 3rem 5rem 45px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1270px;
  }
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.pagination-button {
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination-button:hover {
  background-color: #eee;
}

.active {
  background-color: #666;
  color: #fff;
}

.pagination-button:first-child {
  margin-left: 0;
}

.pagination-button:last-child {
  margin-right: 0;
}

.ellipsis {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: default;
}

.ellipsis:hover {
  background-color: #fff;
}
